__pycache__/
*.py[cod]

.env
.ultralytics/

uploads/*
frames/*
events/*
storage/uploads/*
storage/inspections/*

!uploads/.gitkeep
!frames/.gitkeep
!events/.gitkeep
!storage/uploads/.gitkeep
!storage/inspections/.gitkeep
